services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - ./data:/app/data
    ports:
      - "3000:3000" # Optional: Expose if you want to access API directly from host
    restart: always
